ProyectoAhorcado/Connected Services/ServiciosAhorcado/AhorcadoSVC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosAhorcado.Modelo.Poco" />
  <xs:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosAhorcado.Modelo.Poco" minOccurs="0" name="LogInResult" nillable="true" type="q1:RespuestaLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checarLetra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letra" type="q2:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checarLetraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="checarLetraResult" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iniciarJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iniciarJuegoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>