ProyectoAhorcado/Connected Services/ServiciosAhorcado/AhorcadoSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AhorcadoSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosAhorcado.Modelo.Poco" />
      <xsd:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAhorcadoSVC_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_checarLetra_InputMessage">
    <wsdl:part name="parameters" element="tns:checarLetra" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_checarLetra_OutputMessage">
    <wsdl:part name="parameters" element="tns:checarLetraResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_iniciarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:iniciarJuego" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_iniciarJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:iniciarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPalabras_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPalabras" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPalabras_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPalabrasResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCategorias" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPartidasDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPartidasDisponibles" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPartidasDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPartidasDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_crearNuevaPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:crearNuevaPartida" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_crearNuevaPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearNuevaPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_actualizarEstadoPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEstadoPartida" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_actualizarEstadoPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEstadoPartidaResponse" />
  </wsdl:message>
  <wsdl:portType name="IAhorcadoSVC">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/LogIn" message="tns:IAhorcadoSVC_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/LogInResponse" message="tns:IAhorcadoSVC_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/RegistrarUsuario" message="tns:IAhorcadoSVC_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/RegistrarUsuarioResponse" message="tns:IAhorcadoSVC_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checarLetra">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/checarLetra" message="tns:IAhorcadoSVC_checarLetra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/checarLetraResponse" message="tns:IAhorcadoSVC_checarLetra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iniciarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/iniciarJuego" message="tns:IAhorcadoSVC_iniciarJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/iniciarJuegoResponse" message="tns:IAhorcadoSVC_iniciarJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPalabras">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPalabras" message="tns:IAhorcadoSVC_obtenerPalabras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPalabrasResponse" message="tns:IAhorcadoSVC_obtenerPalabras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerCategorias" message="tns:IAhorcadoSVC_obtenerCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerCategoriasResponse" message="tns:IAhorcadoSVC_obtenerCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPartidasDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPartidasDisponibles" message="tns:IAhorcadoSVC_obtenerPartidasDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPartidasDisponiblesResponse" message="tns:IAhorcadoSVC_obtenerPartidasDisponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearNuevaPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/crearNuevaPartida" message="tns:IAhorcadoSVC_crearNuevaPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/crearNuevaPartidaResponse" message="tns:IAhorcadoSVC_crearNuevaPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/actualizarEstadoPartida" message="tns:IAhorcadoSVC_actualizarEstadoPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/actualizarEstadoPartidaResponse" message="tns:IAhorcadoSVC_actualizarEstadoPartida_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAhorcadoSVC" type="tns:IAhorcadoSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checarLetra">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/checarLetra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iniciarJuego">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/iniciarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPalabras">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerPalabras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCategorias">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPartidasDisponibles">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerPartidasDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearNuevaPartida">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/crearNuevaPartida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoPartida">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/actualizarEstadoPartida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AhorcadoSVC">
    <wsdl:port name="BasicHttpBinding_IAhorcadoSVC" binding="tns:BasicHttpBinding_IAhorcadoSVC">
      <soap:address location="http://localhost:51226/AhorcadoSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>