ProyectoAhorcado/Connected Services/ServiciosAhorcado/AhorcadoSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AhorcadoSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosAhorcado.Modelo.Poco" />
      <xsd:import schemaLocation="http://localhost:51226/AhorcadoSVC.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAhorcadoSVC_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_checarLetra_InputMessage">
    <wsdl:part name="parameters" element="tns:checarLetra" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_checarLetra_OutputMessage">
    <wsdl:part name="parameters" element="tns:checarLetraResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_iniciarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:iniciarJuego" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_iniciarJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:iniciarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_getLetraEscogida_InputMessage">
    <wsdl:part name="parameters" element="tns:getLetraEscogida" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_getLetraEscogida_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLetraEscogidaResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_setLetraEscogida_InputMessage">
    <wsdl:part name="parameters" element="tns:setLetraEscogida" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_setLetraEscogida_OutputMessage">
    <wsdl:part name="parameters" element="tns:setLetraEscogidaResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPalabras_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPalabras" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPalabras_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPalabrasResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCategorias" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPartidasDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPartidasDisponibles" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPartidasDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPartidasDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_crearNuevaPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:crearNuevaPartida" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_crearNuevaPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearNuevaPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_actualizarEstadoPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEstadoPartida" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_actualizarEstadoPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEstadoPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerUsuariosRegistrados_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUsuariosRegistrados" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerUsuariosRegistrados_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUsuariosRegistradosResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPartidaPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPartidaPorID" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPartidaPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPartidaPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPalabraPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPalabraPorID" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPalabraPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPalabraPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_actualizarIDRetador_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarIDRetador" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_actualizarIDRetador_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarIDRetadorResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPuntajeGlobal_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPuntajeGlobal" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_obtenerPuntajeGlobal_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPuntajeGlobalResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_insertarPuntajeGlobal_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarPuntajeGlobal" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_insertarPuntajeGlobal_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarPuntajeGlobalResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_modificarUsuarioRegistrado_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarUsuarioRegistrado" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_modificarUsuarioRegistrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarUsuarioRegistradoResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_getPalabraIngresada_InputMessage">
    <wsdl:part name="parameters" element="tns:getPalabraIngresada" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_getPalabraIngresada_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPalabraIngresadaResponse" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_setPalabraIngresada_InputMessage">
    <wsdl:part name="parameters" element="tns:setPalabraIngresada" />
  </wsdl:message>
  <wsdl:message name="IAhorcadoSVC_setPalabraIngresada_OutputMessage">
    <wsdl:part name="parameters" element="tns:setPalabraIngresadaResponse" />
  </wsdl:message>
  <wsdl:portType name="IAhorcadoSVC">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/LogIn" message="tns:IAhorcadoSVC_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/LogInResponse" message="tns:IAhorcadoSVC_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/RegistrarUsuario" message="tns:IAhorcadoSVC_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/RegistrarUsuarioResponse" message="tns:IAhorcadoSVC_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checarLetra">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/checarLetra" message="tns:IAhorcadoSVC_checarLetra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/checarLetraResponse" message="tns:IAhorcadoSVC_checarLetra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iniciarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/iniciarJuego" message="tns:IAhorcadoSVC_iniciarJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/iniciarJuegoResponse" message="tns:IAhorcadoSVC_iniciarJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLetraEscogida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/getLetraEscogida" message="tns:IAhorcadoSVC_getLetraEscogida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/getLetraEscogidaResponse" message="tns:IAhorcadoSVC_getLetraEscogida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setLetraEscogida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/setLetraEscogida" message="tns:IAhorcadoSVC_setLetraEscogida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/setLetraEscogidaResponse" message="tns:IAhorcadoSVC_setLetraEscogida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPalabras">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPalabras" message="tns:IAhorcadoSVC_obtenerPalabras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPalabrasResponse" message="tns:IAhorcadoSVC_obtenerPalabras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerCategorias" message="tns:IAhorcadoSVC_obtenerCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerCategoriasResponse" message="tns:IAhorcadoSVC_obtenerCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPartidasDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPartidasDisponibles" message="tns:IAhorcadoSVC_obtenerPartidasDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPartidasDisponiblesResponse" message="tns:IAhorcadoSVC_obtenerPartidasDisponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearNuevaPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/crearNuevaPartida" message="tns:IAhorcadoSVC_crearNuevaPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/crearNuevaPartidaResponse" message="tns:IAhorcadoSVC_crearNuevaPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/actualizarEstadoPartida" message="tns:IAhorcadoSVC_actualizarEstadoPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/actualizarEstadoPartidaResponse" message="tns:IAhorcadoSVC_actualizarEstadoPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuariosRegistrados">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerUsuariosRegistrados" message="tns:IAhorcadoSVC_obtenerUsuariosRegistrados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerUsuariosRegistradosResponse" message="tns:IAhorcadoSVC_obtenerUsuariosRegistrados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPartidaPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPartidaPorID" message="tns:IAhorcadoSVC_obtenerPartidaPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPartidaPorIDResponse" message="tns:IAhorcadoSVC_obtenerPartidaPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPalabraPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPalabraPorID" message="tns:IAhorcadoSVC_obtenerPalabraPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPalabraPorIDResponse" message="tns:IAhorcadoSVC_obtenerPalabraPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarIDRetador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/actualizarIDRetador" message="tns:IAhorcadoSVC_actualizarIDRetador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/actualizarIDRetadorResponse" message="tns:IAhorcadoSVC_actualizarIDRetador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPuntajeGlobal">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPuntajeGlobal" message="tns:IAhorcadoSVC_obtenerPuntajeGlobal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/obtenerPuntajeGlobalResponse" message="tns:IAhorcadoSVC_obtenerPuntajeGlobal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarPuntajeGlobal">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/insertarPuntajeGlobal" message="tns:IAhorcadoSVC_insertarPuntajeGlobal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/insertarPuntajeGlobalResponse" message="tns:IAhorcadoSVC_insertarPuntajeGlobal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarUsuarioRegistrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/modificarUsuarioRegistrado" message="tns:IAhorcadoSVC_modificarUsuarioRegistrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/modificarUsuarioRegistradoResponse" message="tns:IAhorcadoSVC_modificarUsuarioRegistrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPalabraIngresada">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/getPalabraIngresada" message="tns:IAhorcadoSVC_getPalabraIngresada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/getPalabraIngresadaResponse" message="tns:IAhorcadoSVC_getPalabraIngresada_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setPalabraIngresada">
      <wsdl:input wsaw:Action="http://tempuri.org/IAhorcadoSVC/setPalabraIngresada" message="tns:IAhorcadoSVC_setPalabraIngresada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAhorcadoSVC/setPalabraIngresadaResponse" message="tns:IAhorcadoSVC_setPalabraIngresada_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAhorcadoSVC" type="tns:IAhorcadoSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checarLetra">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/checarLetra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iniciarJuego">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/iniciarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLetraEscogida">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/getLetraEscogida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLetraEscogida">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/setLetraEscogida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPalabras">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerPalabras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCategorias">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPartidasDisponibles">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerPartidasDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearNuevaPartida">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/crearNuevaPartida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoPartida">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/actualizarEstadoPartida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuariosRegistrados">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerUsuariosRegistrados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPartidaPorID">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerPartidaPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPalabraPorID">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerPalabraPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarIDRetador">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/actualizarIDRetador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPuntajeGlobal">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/obtenerPuntajeGlobal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPuntajeGlobal">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/insertarPuntajeGlobal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuarioRegistrado">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/modificarUsuarioRegistrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPalabraIngresada">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/getPalabraIngresada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPalabraIngresada">
      <soap:operation soapAction="http://tempuri.org/IAhorcadoSVC/setPalabraIngresada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AhorcadoSVC">
    <wsdl:port name="BasicHttpBinding_IAhorcadoSVC" binding="tns:BasicHttpBinding_IAhorcadoSVC">
      <soap:address location="http://localhost:51226/AhorcadoSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>